* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #34495e;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black;
}

.card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.card img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}

.card:hover .card-desc {
  opacity: 1;
  height: 100%;
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
}



.hidden-text {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  min-height: 100vh;
  overflow-y: auto;
  background: #6184a8;
  z-index: 2;
  transition: all 300ms ease-in-out;
}

.menu-container a {
  color: white;
  font-family: "Roboto", sans-serif;
}

.menu-hidden {
  left: -255px;
}

.button-show-menu {
  position: fixed;
  left: 265px;
  top: 2rem;
  color: white;
  background-color: var(--color-primary);
  border: none;
  font-size: 2rem;
  z-index: 3;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-show-menu-visible {
  visibility: visible;
  opacity: 1;
  left: 5px;
}

.button-close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 3;
  cursor: pointer;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  font-family: var(--font-headings);
  font-size: 2rem;
}

.menu-nav a {
  width: 100%;
  padding: 1rem;
}

.main-header-container {
    }
.step-links {
            color: yellow;
            }
.current {
            color: black;
            }

.pagination {
            display: flex;
            flex-flow: row wrap;
            gap: 1rem 0.5rem;
            background: white;
            color: black;
            }

@media (max-width: 600px) {
  .main-content-list,
  .form-content-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }


