{% extends 'users/partials/base_users.html' %}
{% load static %}
{% block content %}
{% include 'users/partials/messages.html' %}

<div class="contact-area section-padding-0-80">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading">
                   <h3>Olá {{ user.username }}, seja bem-vindo(a).</h3>
               </div>
               <div>
                   {% for animal in animais %}
                   <li>
                      <a href="{% url 'dashboard' %}">{{ animal.name }}</a> -
                        <form
                        class="inline-form form-delete"
                        action="{% url 'dashboard_delete' id=animal.id %}"
                        method='POST'
                        >
                          {% csrf_token %}
                          <input type="hidden" name="id" value="{{ animal.id }}">
                          <button class="plaintext-button" type="submit">❌</button>
                        </form>
                   </li>
                   {% empty %}
                   <h3>Você não tem animal cadastrado até o momento.</h3>
                   {% endfor %}
               </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}