<main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'dogncat/partials/animal.html' %}
            {% include 'dogncat/partials/animal.html' %}
            {% include 'dogncat/partials/animal.html' %}
            {% include 'dogncat/partials/animal.html' %}
            {% include 'dogncat/partials/animal.html' %}
            {% include 'dogncat/partials/animal.html' %}
            {% include 'dogncat/partials/animal.html' %}
            {% include 'dogncat/partials/animal.html' %}
        </div>
</main>


