  <div class="card">
    <h2 class="card-title">{{ animal.name }}</h2>
      {% if animal.cover %}
        <img src="{{ animal.cover.url }}" alt="Temporário">
      {% endif %}
      <p class="card-desc">
      {{ animal.description }} <br>
      Porte: {{ animal.porte}} <br>
      Castração: {{ animal.castracao }} <br>
      Esse {{ animal.type_of_animal }} está em {{ animal.cidade}}. <br>
      Telefone para contato: {{ animal.phone }} <br>
      Adicionado em {{ animal.created_at }}
    </p>
  </div>
